@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

html body {
	height: 100%;
}

.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 15px;
}

/*The widths are in a percentage!*/
header {
	width: 100%;
	margin: 0 auto;
}

header h1 {
	text-align: center;
	border-bottom: 3px solid #77a466;
	margin: 0;
	padding: 39px 10px 20px 10px;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 15px 0;
}
header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 10px;
	display: inline;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 100%;
	margin: 0 auto;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: wrap;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 0px 15px;
}

.section-two h4,
.section-three h4 {
	padding: 0px 15px;
}

.menu {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	width: 100%;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}